#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }
  
  .navbar-items {
    float: left;
    border-right:1px solid #bbb;
  }
  
 .navbar-items:last-child {
    border-right: none;
  }
  
  .navbar-items .navbar-items-links {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar-items .navbar-items-linksa:hover:not(.active) {
    background-color: #333;
  }